page-cadastro {
	.bar-button-default-md{
		color: #4B0082;
	}
	.toolbar-title-md{
		color: #4B0082;
	}
	.item-md{
		background-color:transparent!important;
		padding-right:16px;
		color:#fff;

		.label-md,.text-input-md,.datetime-text,{
			color:#fff;
		}

		.label-md{
			margin-top:0;
		}
		
	}
	.button-md{
		margin-top:25px;
		color: #4B0082;
		background: #fff;
	}
	.teste-icone{
		margin-right: 5px;
	}
}
