page-cadastro {
	.bar-button-default-md{
		color: #4B0082;
	}
	.toolbar-title-md{
		color: #4B0082;
	}
	.item-md{
		background-color:transparent!important;
		padding-right:16px;
		color:#fff;
		margin-top: 20px;

		.label-md,.text-input-md,.datetime-text,{
			color:#fff;
			font-size:18px;
		}

		.label-md{
			margin-top:0;
		}
		
	}
	.button-md{
		margin-top:25px;
		color: #4B0082;
		background: #fff;
		font-size:20px;
		height:55px;
	}
	.teste-icone{
		margin-right: 5px;
	}
}

.picker-md{
	.picker-button{
		font-size:20px!important;
		color: #4B0082!important;
	}

	.picker-opt-selected{
		color: #4B0082!important;
		font-weight: 600;		
	}
	
}

.alert-md{
	.alert-title{
		color:#4B0082;
	}

	.alert-button{
		color:#4B0082!important;
	}
}

.item-input-has-focus{
	.label-md[stacked]{
		color:#fff!important;
	}

	.item-inner{
		border-bottom-color:#fff!important;
		box-shadow: inset 0 0px 0 0 #488aff!important;

	}
}