page-lista-resposta {
	.toolbar-background-md{
		background-color: transparent;
	}
	.toolbar-title{
		color:#fff;
		padding-left:0px;
	}
	.bar-button-default-md{
		color: #fff;
		margin-right:0px;
		padding-right:0px;
	}
	.header-md{
		&:after{
			background-image:none;
		}
	}
}
