page-cadastra-pergunta {
	.toolbar-background-md{
		background-color: transparent;
	}
	.toolbar-title{
		color:#fff;
		padding-left:0px;
	}
	.bar-button-default-md{
		color: #fff;
		margin-right:0px;
		padding-right:0px;
	}
	.item-md{
		h2{
			color: #4B0082!important;
			font-size:18px;
		}
	}
}
